name: CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  CICD:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    ## Create YML
    - name: Create application-secret.yml File
      run: |
        echo "${{ secrets.SECRET_PROPERTIES }}" > ./src/main/resources/application.yml
        find src
        
    ## Permission for gradlew
    - name: Grant execute permission for gradlew
      run: chmod +x ./gradlew
      shell: bash
      
    ## Build Gradle
    - name: Build with Gradle  
      run: ./gradlew bootJar

    ## Docker Login
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    ## Build and Push to Docker Hub
    - name: Docker build & push to Hub
      run: |
        docker build -f Dockerfile -t ${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKER_REPO }} .
        docker push ${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKER_REPO }}
      
    ## Deploy EC2
    - name: Deploy to EC2
      uses: appleboy/ssh-action@master
      with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
          
              
              if [ "$(docker ps -aq -f name=${{secrets.DOCKER_REPO}})" ]; then
                docker stop ${{secrets.DOCKER_REPO}}
                docker rm ${{secrets.DOCKER_REPO}}
              fi
              
              sudo docker pull ${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKER_REPO }}
              sudo docker run -d \
              --name ${{ secrets.DOCKER_REPO }} \
              -p 8080:8080 \
              ${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKER_REPO }}
